body{
background-color:black;

}

.usuario
{
    height: 10%;
    width: 10%;
}
body{
    background-color: aliceblue;


}
 .gitjjjj
{
    height: 4%;
    width: 4%;
}


body{
    background-color: aliceblue;

}
 .gami   {height: 4%;
width: 4%;}


body{
    background-color: aliceblue;

}
.kaku
{
    height: 4%;
    width: 4%;
}















